<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>과제 #1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
</head>
<body>
<div class="container">
    <h1> Hello, Spring!</h1>
    <h2> 분반 : 월요일 (15:00~18:00) </h2>
    <h2> 학번 : 2015742112 </h2>
    <h2> 이름 : 최재홍 </h2>
</div>
</body>
</html>