<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <title>학생명단 v1 | Update</title>
</head>
<body>
<div class="container">
    <h3>Update Student</h3>
    <form action="#" th:action="@{/update/{id}(id=${student.id})}" th:object="${student}" method="post">
        <div class="form-group col-md-8">
            <label for="name" class="col-form-label">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group col-md-8">
            <label for="email" class="col-form-label">Email</label>
            <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group col-md-8">
            <label for="phoneNo" class="col-form-label">Phone No</label>
            <input type="text" th:field="*{phoneNo}" class="form-control" id="phoneNo" placeholder="PhoneNo">
        </div>
        <div class="col-md-6">
            <input type="submit" class="btn btn-primary" value="Update Student">
        </div>
    </form>
</div>
</div>
</body>
</html>